* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    height: 1200px;
    font-size: 18px;
    border: 1px solid red;
    background-color: palevioletred;
}

.header {
    color: greenyellow;
    text-align: center; 
}

img {
    height: 200px;
    clip-path: circle(50%);

}

.futta {
    color: green;
    margin: 10px;
    border-radius: 5px;
}
