* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bb36a977;
  height: 800px;
  font-size: 18px;
  font-family: sans-serif;
}

a:link,
a:visited {
  color: #5d6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  background: #d6e9fe;
}

.menu {
  margin-top: 15px;
}

.menu > li {
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.features-menu {
  display: flex;
  flex-direction: column;
  background: #b2d6ff;
  border-radius: 5px;
  padding-top: 60px;

  position: absolute;
  top: -25px;
  left: -30px;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid #fff;

  padding: 0 40px 10px 20px;
  margin: 10px;
}

.features-menu li:last-of-type {
  border-bottom: none;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  z-index: 2;
  position: relative; /* This is important! */
  cursor: pointer;
}

.features-menu {
  /* ... */
  z-index: 1;
}

.dropdown:hover .features-menu {
  /* This used to be `.features-menu` */
  display: flex; /* Leave everything else alone */
  flex-direction: column;
  background: #b2d6ff;
  /* ... */
}

.features-menu {
  display: none; /* Hide by default */
}

.content {
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.text-box {
  width: 100%;
  padding: 0;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  box-sizing: content-box;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button-text {
  font-weight: bold;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #4caf50;
  margin-left: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  font-weight: bold;
}

li {
  padding: 3px;
  margin: 3px;
  list-style-type: none;
}
.footer a:hover {
  color: #e46d0d;
}
.footer a:active {
  color: #4caf50;
}

.footer-flex-list {
  list-style-type: none;
  display: flex;
}

.sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  width: 300px;
  height: 50%;
  overflow-y: auto;
  background-color: #e99898;
  border-radius: 5px;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.offer-list {
  color: palevioletred;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  background-color: pink;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.offer-list:hover {
  background-color: #faebeb;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.cop-right {
  color: #fff;
  font-size: 14px;
}
